.feed-layout {

  .left {
    display: none;
    position: absolute;
    width: @left-width;
    height: 1200px;
    background: linear-gradient(red, yellow);

    @media @medium {
      display: block;
    }
  }

  .fixed {
    position: fixed;
  }


  .rightmarker {
    position: absolute;
    width: @right-width;
    right: 0;
  }

  .right {
    display: none;
    position:fixed;
    width: @right-width;
    background: red;
    height: 200px;

    @media @small {
      display: block;
    }  
  }

  .center {
    width: 100%;
    background: #efefef;

    @media @small {
      width: calc(100% ~"-" (@right-width + @margin)); 
      margin-right: @right-width + @margin;
    }

    @media @medium {
      width: calc(100% ~"-" (@left-width + @right-width + 2 * @margin));
      margin-left: @left-width + @margin;
    }
  }
}